.layout-sidebar {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 10pt;
  background-color: $white-100;
  border-right: solid 1px $gray-200;
  justify-content: space-between;

  .top-container {
    .logo-container {
      padding: 4pt 0 12pt 0;
      border-bottom: solid 1px $purple-300;
    }
    .sidebar-nav {
      width: 100%;
      margin: 0;
      padding: 0;
      .nav-item {
        width: 100%;
        display: flex;
        align-items: center;
        padding: 14px 8px;
        border-radius: $radius-md;
        background-color: $white-100;

        a {
          gap: 6pt;
          display: flex;
          align-items: center;
          color: $purple-500;
          span {
            text-transform: capitalize;
          }
        }

        &.active {
          background-color: $purple-10;
          a {
            color: $purple-200;
          }
        }

        &:hover {
          cursor: pointer;
          a {
            color: $purple-200;
          }
        }
      }
    }
  }

  .bottom-container {
    display: flex;
    justify-content: center;
  }
}

// TODO: Check these styles when updating the right side overlay
.sidebar-overlay {
  z-index: 9999;
}
